# Relay Settings
RELAY_NAME="my-rss-relay"
RELAY_URL="rssnotes.example.org"
RELAY_PRIVKEY="private-key-hex"
RELAY_PUBKEY="public-key-hex"

#### OPTIONAL SETTINGS ####
#RELAY_DESCRIPTION="A relay for rss notes." 
#RELAY_CONTACT="email@example.com" 
#RELAY_ICON="https://fileserver.exapmle.com/icon.png" 
#PORT="3334" 
#MAX_NOTE_AGE_DAYS="90" #notes older than this many days will be deleted, disabled by default or if set to "0"