<html lang="en"></html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/static/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <title>rsslay</title>
</head>

<body>
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a href="/" class="navbar-item">
            <img src="/assets/static/rssnotes-logo.png" alt="{{.RelayName}}: convert RSS or Atom feeds into Nostr profiles" width="112" height="28">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                Home
            </a>
            <a href="https://github.com/piraces/rsslay/wiki" class="navbar-item">
                Documentation
            </a>
        </div>
    </div>
</nav>

<div class="hero is-dark">
    <div class="hero-body">
        <p class="title"><a href="/">{{.RelayName}}</a></p>
        <p class="subtitle">convert RSS or Atom feeds into <a
                href="https://github.com/nostr-protocol/nostr">Nostr</a> profiles.</p>
    </div>
</div>
<div class="container is-fluid mt-4">
    {{if .Error}}
    <div class="notification is-danger">
        {{.ErrorMessage}}
    </div>
    {{else}}
    <div class="box">

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Public Key (Hex)</label>
            </div>
            <div class="field-body">
                <div class="field has-addons">
                    <p class="control is-expanded">
                        <input id="pubKey" class="input is-readonly" type="text" value="{{.PubKey}}" readonly>
                    </p>
                    <div class="control">
                        <button class="button is-info copy" name="pubKey" onclick="copyToClipboard('pubKey')">
                            <span class="icon">
                                <i class="fas fa-copy"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Public Key</label>
            </div>
            <div class="field-body">
                <div class="field has-addons">
                    <p class="control is-expanded">
                        <input id="nPubKey" class="input is-readonly" type="text" value="{{.NPubKey}}" readonly>
                    </p>
                    <div class="control">
                        <button class="button is-info copy" name="nPubKey" onclick="copyToClipboard('nPubKey')">
                            <span class="icon">
                                <i class="fas fa-copy"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">URL</label>
            </div>
            <div class="field-body">
                <div class="field has-addons">
                    <p class="control is-expanded">
                        <input id="url" class="input is-readonly" type="url" value="{{.Url}}" readonly>
                    </p>
                    <div class="control">
                        <button class="button is-info copy" name="url" onclick="copyToClipboard('url')">
                            <span class="icon">
                                <i class="fas fa-copy"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons is-justify-content-center">
            <img src="/assets/qrcodes/{{.NPubKey}}.png" alt="npub qrcode" width="128" height="128">
        </div>
    </div>
    {{end}}
    <a class="button is-primary mt-3 mb-3" href="/">
        <span class="icon">
            <i class="fas fa-home"></i>
        </span>
        <span>Go home</span>
    </a>
</div>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <a href="https://github.com/trinidz/rssnotes"><strong>rssnotes</strong></a> original work by <a href="https://fiatjaf.com">fiatjaf</a> and <a href="https://piraces.dev">piraces</a> modifications by <a
                href="https://njump.me/npub15ucds95a8m2whgj4esll39lhxta5jwk8lqvmtz6ne8lf8ksmggrqz74dq7">trinidz</a>. The source code is
            <a href="https://github.com/trinidz/rssnotes/blob/main/LICENSE">UNlicensed</a>. Keep the good vibes 🤙
        </p>
    </div>
</footer>
 <script src="/assets/js/copyclipboard.js"></script>
</body>
</html>