<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./assets/static/favicon.ico">
    <script src="./assets/js/htmx.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="./assets/css/styles.css">
    <title>{{.RelayName}}</title>
</head>

<body>
    
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href="./home" class="navbar-item">
                <img src="./assets/static/rssnotes-logo.png"
                    alt="{{.RelayName}}: comvert RSS or Atom feeds into Nostr profiles" width="112" height="28">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
                <a href="./home" class="navbar-item">Home</a>
                <a href="https://github.com/trinidz/rssnotes" class="navbar-item">Documentation</a>
                <a href="javascript:document.getElementById('opml-file').click()" class="navbar-item">Import</a>
                <a href="./export" class="navbar-item">Export</a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item" id="status-area" hx-get="./progress" hx-target="this" hx-swap="outerHTML"
                    hx-trigger="change from:#opml-import-form" hx-sync="#opml-file: queue first"></div>
            </div>
        </div>
    </nav>

    <div class="hero is-dark" style="display: flex; align-items: center; justify-content: center">
        <nav class="level">
            <div class="hero-body level-item has-text-centered">
                <div>
                    <p class="title" style="padding-top: 10px; padding-bottom: 10px;"><a href="./home">{{.RelayName}}</a></p>
                    <p class="subtitle" style="padding-top: 10px; padding-bottom: 10px;">convert RSS or Atom feeds into
                        <a href="https://github.com/nostr-protocol/nostr">Nostr</a> profiles.</p>
                </div>
            </div>

            <div class="level-item has-text-centered">
                <div>
                    <p class="heading" style="padding-top: 10px;">Relay Pubkey</p>
                    <img src="./assets/qrcodes/{{.RelayNPubkey}}.png" class="qr-code" alt="npub qrcode" width="128" height="128"
                        style="padding-top: 5px; padding-bottom: 5px;">
                    <p class="heading">{{.RelayNPubkey}}</p>
                </div>
            </div>
        </nav>
    </div>

    <div class="content">
        <form id="opml-import-form" hx-encoding="multipart/form-data" hx-post="./import" class="control"
            hx-trigger="change from:#opml-file" hx-target="#status-area" hx-swap="innerHTML">
            <input type="file" id="opml-file" name="opml-file" accept=".xml,.opml" style="display:none;">
        </form>
    </div>

    <div class="container is-fluid mt-4">

        <nav id="metrics-display" class="level" hx-get="./metricsDisplay"
            hx-trigger="click from:#btn-delete delay:3000ms, every 600s">
            {{ block "metrics-display-fragment" .}}
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Current feeds</p>
                    <p class="title">{{.Count}}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Notes created</p>
                    <p class="title">{{.KindTextNoteCreated}}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Notes deleted</p>
                    <p class="title">{{.KindTextNoteDeleted}}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Notes blasted</p>
                    <p class="title">{{.NotesBlasted}}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Relay queries</p>
                    <p class="title">{{.QueryEventsRequests}}</p>
                </div>
            </div>
            {{end}}
        </nav>

        <h2 class="subtitle">Getting Started:</h2>
        <div class="instructions-list">
            <ol>
                <li>Add the URL of an RSS or Atom feed below in the <strong>Get Public Key</strong> box and click the
                    button to get its corresponding nostr public key.
                <li>If you have an opml file, import RSS feeds using the <strong>Import</strong> link at the top of the
                    page.</li>
                <li>Add your rssnotes relay to your Nostr client: <strong><code>wss://{{.RelayURL}}</code></strong></li>
                <li><strong>To follow an rss feed using your existing nostr profile. </strong>Follow the feed's public
                    key from your Nostr client.</li>
                <li><strong>To follow all rss feeds using the relay's public key. </strong>Login to nostr using the
                    relay's public key from your Nostr client.</li>
            </ol>
            <ul>
                <li><b>For sites missing a feed (with support for <a
                            href="https://github.com/RSS-Bridge/rss-bridge/tree/master/bridges">several sites</a>), try
                        using <a href="https://rss-bridge.github.io/rss-bridge/">RSS-Bridge.</a></b>
                </li>
                <li><b><a href="https://rsshub.app/">RssHub</a> is capable of generating RSS feeds from pretty much
                        everything too</b>, check it how to use it in <a
                        href="https://docs.rsshub.app/">https://docs.rsshub.app</a> (ex. <a
                        href="https://rsshub.app/github/topics/nostr">repos inside nostr topic in GitHub</a>)
                </li>
            </ul>
        </div>
       
    <form action="./create" method="GET" class="control">
        <div class="upload-container">
            <input type="text" class="upload-input" placeholder="https://example.com/feed" id="create-profile-url"
                name="url" type="url">
            <button class="upload-button">Create Pubkey</button>
        </div>
    </form>
    
    <form action="./search" method="GET" class="control">
        <div class="search-container">
            <input type="text" class="search-input" placeholder="Search minimum 5 characters." name="query" type="text"
                placeholder="bitcoin">
            <button class="search-button">Search</button>
        </div>
    </form>

            <h2 class="subtitle">Existing feeds:</h2>
            <div class="card-container" id="feed-list" hx-confirm="Are you sure?" hx-target="closest span"
                hx-swap="outerHTML swap:1s">
                  {{ block "feeds-display-fragment" .}}
                <div class="card-grid" id="card-grid">
                    {{range .Entries}}
                    <span>
                        <div class="card">
                            <div class="card-header">
                                <div class="card-icon"> <img src="{{.BookmarkEntity.ImageURL}}" alt="feed icon"> </div>
                                <h3> {{ shortURL .BookmarkEntity.URL }} </h3>
                            </div>
                            <div class="card-content">
                                <div class="qr-code">
                                    <img src="./assets/qrcodes/{{.NPubKey}}.png" data-copy="{{.NPubKey}}" alt="npub qrcode">
                                </div>
                            </div>
                            <div class="card-divider"></div>
                            <div class="card-buttons">
                                <form action="https://njump.me/{{.NPubKey}}" target="_blank" method="get">
                                    <button class="card-button secondary">Njump</button>
                                </form>
                                <form action="{{.BookmarkEntity.URL}}" target="_blank" method="get">
                                    <button class="card-button tertiary">RSS</button>
                                </form>
                                <form>
                                    <button class="card-button btn-primary" id="btn-delete"
                                        hx-delete="./delete?pubkey={{.BookmarkEntity.PubKey}}">Delete</button>
                                </form>
                            </div>
                        </div>
                    </span>
                    {{end}}
                </div>
                {{end}}
            </div>
            
    </div>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <a href="https://github.com/trinidz/rssnotes"><strong>rssnotes {{.Version}}</strong></a> original work by <a
                    href="https://fiatjaf.com">fiatjaf</a> and <a href="https://piraces.dev">piraces</a> modifications
                by <a
                    href="https://njump.me/npub15ucds95a8m2whgj4esll39lhxta5jwk8lqvmtz6ne8lf8ksmggrqz74dq7">trinidz</a>.
                The source code is
                <a href="https://unlicense.org/">UNlicensed</a>. Keep the good vibes 🤙
            </p>
        </div>
    </footer>
    <script src="./assets/js/copyclipboard.js"></script>
</body>

</html>