<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./assets/static/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="./assets/css/styles.css">
    <script src="./assets/js/htmx.min.js"></script>
    <title>{{.RelayName}}</title>
</head>

<body>
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href="./home" class="navbar-item">
                <img src="./assets/static/rssnotes-logo.png"
                    alt="{{.RelayName}}: turn RSS or Atom feeds into Nostr profiles" width="112" height="28">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
                <a href="./home" class="navbar-item">
                    Home
                </a>
            </div>
        </div>
    </nav>
    <div class="hero is-dark">
        <div class="hero-body">
            <p class="title"><a href="./home">{{.RelayName}}</a></p>
            <p class="subtitle">convert RSS or Atom feeds into <a
                    href="https://github.com/nostr-protocol/nostr">Nostr</a> profiles.</p>
        </div>
    </div>
    <div class="container is-fluid mt-4">
        {{if .Error}}
        <div class="notification is-danger">
            {{.ErrorMessage}}
        </div>

        <form action="./search" method="GET" class="control">
            <div class="search-container">
                <input type="text" class="search-input" placeholder="Search minimum 5 characters." name="query"
                    type="text" placeholder="bitcoin">
                <button class="search-button">Search</button>
            </div>
        </form>

        {{else}}
        <nav class="level">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Current feeds count</p>
                    <p class="title">{{.Count}}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Matched feeds count</p>
                    <p class="title">{{.FilteredCount}}</p>
                </div>
            </div>
        </nav>

        <form action="./search" method="GET" class="control">
            <div class="search-container">
                <input type="text" class="search-input" placeholder="Search minimum 5 characters." name="query"
                    type="text" placeholder="bitcoin">
                <button class="search-button">Search</button>
            </div>
        </form>

        <h2 class="subtitle">Found feeds (refine your query if necessary)</h2>
        <div class="card-container" id="feed-list" hx-confirm="Are you sure?" hx-target="closest span"
            hx-swap="outerHTML swap:1s">
            <div class="card-grid" id="card-grid">
                {{range .Entries}}
                <span>
                    <div class="card">
                        <div class="card-header">
                            <div class="card-icon"> <img src="{{.BookmarkEntity.ImageURL}}" alt="feed icon"> </div>
                            <h3> {{ shortURL .BookmarkEntity.URL }} </h3>
                        </div>
                        <div class="card-content">
                            <div class="qr-code">
                                <img src="./assets/qrcodes/{{.NPubKey}}.png" data-copy="{{.NPubKey}}" alt="npub qrcode">
                            </div>
                        </div>
                        <div class="card-divider"></div>
                        <div class="card-buttons">
                            <form action="https://njump.me/{{.NPubKey}}" target="_blank" method="get">
                                <button class="card-button secondary">Njump</button>
                            </form>
                            <form action="{{.BookmarkEntity.URL}}" target="_blank" method="get">
                                <button class="card-button tertiary">RSS</button>
                            </form>
                            <form>
                                <button class="card-button btn-primary" id="btn-delete"
                                    hx-delete="./delete?pubkey={{.BookmarkEntity.PubKey}}">Delete</button>
                            </form>
                        </div>
                    </div>
                </span>
                {{end}}
            </div>
            {{end}}
        </div>

        <div style="margin-top: 20px;">
            <form action="./home" method="get">
                <button class="card-button primary">Home</button>
            </form>
        </div>

    </div>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <a href="https://github.com/trinidz/rssnotes"><strong>rssnotes</strong></a> original work by <a
                    href="https://fiatjaf.com">fiatjaf</a> and <a href="https://piraces.dev">piraces</a> modifications
                by <a
                    href="https://njump.me/npub15ucds95a8m2whgj4esll39lhxta5jwk8lqvmtz6ne8lf8ksmggrqz74dq7">trinidz</a>.
                The source code is
                <a href="https://unlicense.org/">UNlicensed</a>. Keep the good vibes 🤙
            </p>
        </div>
    </footer>
</body>

</html>